.FrontHero-slider {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.FrontHero-wrapper {
    position: relative;
}

.FrontHero-slider>div {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
}

.slick-track {
    height: 100% !important;
}