.Guests .guest.unannounced {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Guests .unnanounced-container {
    text-align: center;
    font-family: "Rubik", sans-serif;
    padding: 40px;
}

.Guests .unnanounced-container h1 {
    font-size: 2.5em;
    color: white;
}

.Guests .unnanounced-container p {
    font-size: 1em;
    color: #e0c417;
}

.Guests .section-description {
    color: black;
    font-family: "Rubik", sans-serif;
    text-align: center;
    padding: 0 20px 20px 20px;
    position: relative;
}


.Guests .guests-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 20px 0 20px;
    height: 100%;
}

.Guests .guest {
    display: block;
    width: 30%;
    background-color:black;
    border-radius: 4px;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.3);
    height: 500px;
    overflow: hidden;
    transition: all 0.1s ease-in;
    cursor: pointer;
    position: relative;
}

.Guests .guest .guest-profile {
    position: absolute;
    left: 0;
    bottom: 0;
}

.Guests .guest .guest-profile img {
    width: 480px;
    transform: translateX(-30%);
}

.Guests .guest:hover {
    transform: scale(1.05);
}



.Guests .guest video {
    min-height: 100%;
    transform: translateX(-20%);
    opacity: 0.8;
}



.Guests .HeaderContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, black);
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.Guests .HeaderContainer h1 {
    color: white;
    font-family: "Rubik", sans-serif;
    padding: 0 40px 0 40px;
    font-size: 2em;
    margin: 0 0 14px 0;
    
}

.Guests .HeaderContainer h1 span{
    background-color: black;
    padding: 4px 6px 4px 6px;
    box-shadow: 4px 4px 0 0 #e0c417;
}

.Guests .HeaderContainer p {
    color: #e0c417;
    font-family: "Rubik", sans-serif;
    padding: 0 44px 0 40px;
    font-size: 1.4em;
    margin: 0;
}

.Guests .HeaderContainer .sponsor-row {
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "Rubik", sans-serif;
    padding: 40px 40px 10px 40px;
    letter-spacing: 1px;
    text-align: center;


}

.Guests .HeaderContainer .lefdal-logo {
    width: 40px;
    margin-left: 4px;
}